@model Progressor.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>

    @Html.HiddenFor(model => model.userID)

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.progressIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.progressIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.progressMax)
        </dt>

        <dd>
            @if (Model.progressMax <= 0)
            {
                <text>-</text>
            }
            else
            {
                <text>@Model.progressMax</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dueDate.Value.ToShortDateString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @if (Model.createDate == DateTime.MinValue)
            {
                <text>-</text>
            }
            else
            {
                <text>@Model.createDate.ToShortDateString()</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @if (Model.startDate == DateTime.MinValue)
            {
                <text>-</text>
            }
            else
            {
                <text>@Model.startDate.ToShortDateString()</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.completeDate)
        </dt>

        <dd>
            @if (Model.completeDate == DateTime.MinValue)
            {
                <text>-</text>
            }
            else
            {
                <text>@Model.completeDate.ToShortDateString()</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.difficultyIndex)
        </dt>

        <dd>
            @if (Model.difficultyIndex <= 0)
            {
                <text>-</text>
            }
            else
            {
                <text>@Model.difficultyIndex</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importanceIndex)
        </dt>

        <dd>
            @if (Model.importanceIndex <= 0)
            {
                <text>-</text>
            }
            else
            {
                <text>@Model.importanceIndex</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taskStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
